body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form__input, .form__button,
.form__select {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.form__title {
    text-align: center;
    margin: 16px 0 32px 0;
    font-weight: normal;
}

.form__part {
    position: relative;
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #9e9e9eea;
    transition: 0.3s;
}

#cdate, #gender {
    margin-top: 25px;
}

.form__input {
    width: 100%;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form__input:focus {
    border-bottom: 1px solid #059c1e;
}

.form__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #059c1e;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:focus,
.form__button:hover {
    background-color: #29bd42;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}